@import "/src/styles/common";

.icon {
  @include button-header;
  position: relative;
  transition: all 0.3s ease;

  &:hover {
    color: $main-color;
    transform: scale(1.05);

    .icon__img {
      color: $main-color;
    }
  }

  &.selected {
    border-bottom: 3px solid $accent-color;
  }

  &__img {
    color: $main-color;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 9px;
    line-height: 9px;
    transform: translate(-50%, -50%);
  }

  &__count {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 8px;
    display: block;
    width: 16px;
    height: 16px;
    color: #fff;
    text-align: center;
    border: 1.5px solid #fff;
    border-radius: 50%;
    background-color: $error-color;
  }

  &__text {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 9px;
    line-height: 9px;
    transform: translate(-50%, -50%);
  }
}
