@import "../../../styles/common";

.text-input {
  &__input {
    @include form-input;
    margin-top: 8px;
    width: 100%;
  }

  &__label {
    display: flex;
    flex-direction: column;
    @extend %body-text;
  }
}
