@import "../../styles/common.scss";

.email-link {
  color: $main-color;
  font-weight: inherit;
  cursor: pointer;
  text-decoration: underline;
  transition: $transition-color;

  &:hover {
    color: $accent-color;
  }
}
