@import "../../styles/common";

.animated-text-button {
  width: fit-content;
  text-decoration: none;
  cursor: pointer;
  position: relative;
  display: inline-block;
  color: currentColor;
  transition: $transition-color;
  @extend %body-text;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -2px;
    left: 0;
    background: currentColor;
    transform: scaleX(1);
  }

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -2px;
    left: 0;
    background: $main-color;
    transform: scaleX(0);
    transform-origin: bottom left;
    transition: $transition-transform;
  }

  &:hover {
    &::after {
      transform: scaleX(1);
    }
  }
}
