@import "../../../styles/common";

.text-area {
  &__input {
    @include form-input;
    margin-top: 8px;
    width: 100%;
  }

  &__label {
    display: flex;
    flex-direction: column;
    @extend %body-text;
  }

  &__required {
    display: inline;
    color: $error-color;
    margin-left: 2px;
  }

  &__textarea {
    &--error {
      border-color: $error-color;

      &:focus {
        border-color: $error-color;
      }
    }
  }

  &__error {
    color: $error-color;
    font-size: 12px;
    margin-top: 4px;
    display: block;
  }
}
