@import "/src/styles/common";

.category-card {
  height: 100%;
  width: 100%;
  justify-content: flex-start;
  cursor: pointer;
  transition: $transition-smooth;

  &:hover {
    scale: 1.05;
  }

  &__title {
    @extend %h3;
    text-transform: capitalize;
    color: $accent-color;
    margin-top: 24px;
  }
}

@include onPhone {
  .category-card {
    &__title,
    &__counter {
      padding: 0 16px;
    }
  }
}
