@import "/src/styles/common";

.product-slider {
  .slick {
    &-list {
      overflow: hidden;
    }

    &-track {
      display: flex;
      align-items: flex-start;
    }

    &-slider {
      padding: 0 10px;
      position: relative;
    }

    &-slide {
      margin-right: 16px;
    }

    &-arrow {
      @include button-transparent;
      position: absolute;
      top: 50%;
      z-index: 2;
    }
  }
}

@media #{$tablet-media-query} {
  .product-slider .slick-track {
    gap: 16px;
  }
}
