@import "../../../styles/common";

.password-input {
  &__input {
    @include form-input;
    margin-top: 8px;
    width: 100%;
    position: relative;
  }

  &__icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-30%);
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    color: $border-color;
  }

  &__label {
    display: flex;
    flex-direction: column;
    @extend %body-text;
  }
}
