@import "../../styles/common";

.profile-page {
  &__title {
    @extend %h1;
    margin-bottom: 36px;
  }

  &__info button {
    background: $accent-color;
    color: #fff;
    border: none;
    border-radius: 6px;
    padding: 10px 18px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s;

    &:hover {
      background: darken($accent-color, 10%);
    }
  }
}
