@mixin button-transparent($width: 32px, $height: 32px) {
  height: $height;
  width: $width;
  color: $accent-color;
  border: 1px solid $light-color;
  background-color: transparent;
  position: relative;
  transition: all 0.3s;

  &:hover {
    border-color: #000;
  }
}

@mixin button-gray($width: 176px, $height: 40px) {
  height: $height;
  width: $width;
  background-color: $accent-color;
  color: #fff;
  text-align: center;
  @extend %buttons;
  border: none;
  box-shadow: none;
  transition: all 0.3s;

  &:hover {
    box-shadow: 0px 3px 13px 0px rgba(23, 32, 49, 0.26);
  }

  &:active {
    color: $accent-green-color;
    background-color: #fff;
    border: 1px solid $border-color;
    box-shadow: none;
  }

  &.disabled {
    opacity: 0.7;
    pointer-events: none;

    &:hover {
      box-shadow: none;
    }
  }
}

@mixin button-more-less($width: 32px, $height: 32px) {
  @include button-transparent;
  height: 32px;

  &:before {
    width: unset;
    height: unset;
    font-family: inherit;
    font-size: 14px;
    color: $accent-color;
  }

  &.disabled::before {
    color: $light-color;
  }

  &_prev {
    margin-right: 16px;

    &::before {
      content: "-";
    }
  }

  &_next::before {
    content: "+";
  }

  &.disabled {
    pointer-events: none;
  }
}

@mixin button-header {
  height: 100%;
  height: 64px;
  width: 64px;
  position: relative;
  padding: 25px;

  &:hover {
    color: $accent-color;
  }
}
