@import "/src/styles/common";

.breadcrumbs {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 40px;

  &__home {
    color: $second-color;
  }

  &__list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__link {
    align-items: center;
    @extend %small-text;
    color: $second-color;
    text-transform: capitalize;
    display: flex;
    gap: 8px;
    align-items: center;

    &.disabled {
      pointer-events: none;
      color: $main-color;
    }
  }
}
