@import "../../styles/common";

.checkout-page {
  &__title {
    @extend %h1;
    margin-bottom: 32px;
  }

  &__subtitle {
    @extend %h2;
    margin-bottom: 16px;
  }

  &__text {
    @extend %body-text;
    margin-bottom: 16px;
  }

  &__button {
    @include button-square;
  }
  &__error-message {
    color: $accent-red-color;
    margin-top: 18px;
    text-align: center;
  }
  &__success-message {
    color: $accent-green-color;
    margin-top: 18px;
    text-align: center;
    font-weight: bold;
  }
}
