@import "../../styles/common";

.section {
  margin-bottom: 80px;

  &__title {
    @extend %h1;
    // color: $main-color;
    margin-bottom: 24px;
  }

  &__text {
    @extend %body-text;
    margin-bottom: 16px;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

@media #{$phone-media-query} {
  .section {
    margin-bottom: 60px;

    &__title {
      text-align: center;
    }
  }
}
