@import "../../styles/common";

.contact-page {
  margin: 40px auto 0 auto;
  display: flex;
  flex-direction: row;
  gap: 48px;
  max-width: 900px;
  background: #fff;
  border-radius: 18px;
  padding: 32px 24px;
  box-shadow: $box-shadow-color;

  &__container {
    flex: 1;
    flex-direction: column;
  }

  &__title {
    @extend %h1;
    margin-bottom: 36px;
  }

  &__desc {
    @extend %body-text;
  }

  &__important {
    @extend %body-text;
    font-style: italic;
    display: flex;
    align-items: flex-start;
    gap: 0.5em;
    color: $main-color;
    background: rgba($main-color, 0.08);
    border-radius: 0.75em;
    padding: 1em;
    margin-top: 16px;
    flex-direction: column;

    &-icon {
      font-weight: 600;
      flex-shrink: 0;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: calc($gap/2);
    margin-top: 18px;
    max-width: 420px;
    width: 100%;
  }

  & .button-loading {
    width: 100%;
  }
}

@include onTablet {
  .contact-page {
    flex-direction: column;
    gap: 0;
    max-width: unset;
    padding: 0;
    box-shadow: unset;

    &__form {
      margin-top: 32px;
      @include form;
    }
  }
}
