@import "../../styles/common.scss";

.contact-page {
  margin: 40px auto 0 auto;
  display: flex;
  flex-direction: row;
  gap: 48px;
  max-width: 900px;
  background: #fff;
  border-radius: 18px;
  padding: 32px 24px;
  box-shadow: $box-shadow-color;

  &__container {
    flex: 1;
    flex-direction: column;
  }

  &__title {
    @extend %h1;
    margin-bottom: 36px;
  }

  &__desc {
    @extend %body-text;
  }

  &__link {
    @include email-link;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: calc($gap/2);
    margin-top: 18px;
    max-width: 420px;
    width: 100%;
  }

  &__label {
    @include form-label;
  }

  &__input {
    @include form-input;
  }

  &__button {
    @include form-button;
  }

  &__success {
    color: $success-color;
    margin-top: 10px;
    @extend %body-text;
  }

  &__error {
    color: $error-color;
    margin-top: 10px;
    @extend %body-text;
  }
}

@media #{$tablet-media-query} {
  .contact-page {
    flex-direction: column;
    gap: 0;
    max-width: unset;
    padding: 0;
    box-shadow: unset;

    &__form {
      margin-top: 32px;
      @include form;
    }

    &__title,
    &__desc,
    &__success,
    &__error {
      text-align: center;
    }
  }
}
